<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>Werewolf by McToel</title>
    <link rel="stylesheet" type="text/css" href="static/styles/werewolf.css">
</head>

<body id='main_body'>
    <div id='app' class="table_container">

        <div class="grid_table" style="grid-template-columns: auto auto auto;">
            <div style="display: contents;">
                <div class="head"><div>Your name</div></div>
                <div class="head"><div>Your role</div></div>
                <div class="head"><div>Your last Message</div></div>
                <div class=""><div>[[ username ]]</div></div>
                <div class=""><div>[[ role ]]</div></div>
                <div class=""><div>[[ msg ]]</div></div>
            </div>
        </div>
        <div style="height: 20px;"></div>
        <div class="grid_table" style="grid-template-columns: auto auto auto auto;">
            <div style="display: contents;">
                <div class="col1 head"><div>Username</div></div>
                <div class="col2 head"><div>Vote</div></div>
                <div class="col3 head"><div>Votes</div></div>
                <div class="col4 head"><div>Send Message</div></div>
            </div>
            <div is="player_player" v-for='player in players' v-bind:name="player.name"
                v-bind:alive="player.alive" v-bind:voters="player.voters"></div>
        </div>
        <div style="height: 20px;"></div>
        <form action="logout">
            <button class="pretty_button" style="width: 100%;" type="submit" value="logout">Logout</button>
        </form><br /><br />
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->
    <script src="https://vuejs.org/js/vue.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    <script src="static/js/functions.js"></script>
</body>

</html>