<!DOCTYPE html>
<html>

<head>
    <title>Werewolf by McToel</title>
    <link rel="stylesheet" type="text/css" href="static/styles/werewolf.css">
</head>

<body id='main_body'>
    <div class="table_container">
        <table class="tg">
            <tr>
                <th>Your name</th>
                <th>Your role</th>
                <th>Your last Message</th>
            </tr>
            <tr>
                <th id="username_head">gamemaster</th>
                <th id="role_head">gamemaster</th>
                <td id="msg_head">Hello World</td>
            </tr>
        </table>
        <div style="height: 20px;"></div>
        <table class="tg" id="main_table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Votes</th>
                    <th>Poke</th>
                    <th>Kill</th>
                    <th>Send Message</th>
                </tr>
            </thead>
            <tbody id="user_table">
            </tbody>
        </table><br/>
        <button style="width: 100%;" type="button" onclick="reset_votes();">Reset Votes</button><br />
        <form action="logout">
            <button style="width: 100%;" type="submit" value="logout">Logout</button>
        </form><br /><br/>
        <h1 style="width: 100%; text-align: center;">Game Settings</h1>
        <input style="width: 100%;" class="pretty_textbox" type="text" placeholder="Role" id="role_text_box"><br />
        <button style="width: 49%;" type="button" id="add" value="Add">Add</button>
        <button style="width: 49%;" type="button" id="remove" value="Remove">Remove</button>
        <br />
        <select id="selected_roles" size="4" multiple="multiple" style="height : 200px; width: 100%;"></select><br />
        <button style="width: 100%;" type="button" onclick="set_roles();">Set Roles</button><br />
    </div>
</body>

<!-- SocketIO -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- SocketIO -->

<script>
    document.addEventListener('DOMContentLoaded', request_game_data, false);

    function request_game_data() {
        socket.emit('load_game');
    }

    $(function () {
        $('#add').click(function () {
            var inner_html = '<option value="' + $('#role_text_box').val() + '">' + $('#role_text_box').val() + '</option>'
            $("#selected_roles").append(inner_html);
        });
    });

    $('#remove').click(function () {
        $("#selected_roles option:selected").remove();
    });

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    var socket = io();

    function set_roles() {
        var select = document.getElementById("selected_roles");
        var roles = [];
        for (var i = 0; i < select.options.length; i++) {
            roles.push(select.options[i].value);
        }
        socket.emit('set_roles', {
            "roles": roles
        })
    }

    function reset_votes() {
        socket.emit('reset_votes')
    }

    function kill() {
        socket.emit('kill', {
            "target_user": event.target.parentElement['target_user'].value
        })
    }

    function poke() {
        socket.emit('poke', {
            "target_user": event.target.parentElement['target_user'].value
        })
    }

    function send_msg() {
        socket.emit('send_msg', {
            "target_user": event.target.parentElement['target_user'].value,
            "msg": event.target.parentElement['msg'].value
        })
    }

    function user_table_row(data) {
        current_user = data['name'];
        var row = '<tr id="' + current_user + '_row">';
        //Username
        row += '<th id="' + current_user + '_name" class="username">' + current_user + '</th>';
        //Role
        row += '<td id="' + current_user + '_role">' + data['role'] + '</td>'
        // private votes 
        row += '<td><div id="' + current_user + '_votes" style="width: max-content;"></div></td>';
        // poke button
        row += '<td id="' + current_user + '_poke_button"><form class="pretty_form"><button type="button" onclick="poke();" name="target_user" value="' + current_user + '">Poke</button></form></td>';
        // kill
        row += '<td id="' + current_user + '_kill_button"><form class="pretty_form"><button type="button" onclick="kill();" name="target_user" value="' + current_user + '">Kill</button></form></td>';
        // send msg
        row += '<td><form class="pretty_form"><input class="pretty_textbox" type="text" placeholder="Message" name="msg"></input><button type="button" onclick="send_msg();" name="target_user" value="' + current_user + '">Send</button></form></td>'
        row += '</tr>'
        return row;
    }

    function remove_vote(data) {
        try {
            var vote = document.getElementById(data['voter'] + '_vote');
            vote.remove();
        } catch (error) { }
    }

    function remove_user(data) {
        try {
            var vote = document.getElementById(data['name'] + '_row');
            vote.remove();
        } catch (error) { }
    }

    socket.on('flash', async function () {
        var element = document.getElementById('main_body');
        for (var i = 0; i < 3; i++) {
            element.style.backgroundColor = 'red';
            await sleep(100);
            element.style.backgroundColor = 'white';
            await sleep(100);
        }
    });

    socket.on('append_user', function (data) {
        remove_user(data);
        var new_row = user_table_row(data);
        $('#user_table').append(new_row);
    });

    socket.on('remove_user', function (data) {
        $('#' + data['target'] + '_row').remove();
    });

    socket.on('kill_user', function (data) {
        var user = data['target']
        document.getElementById(user + '_name').innerHTML = '<del>' + user + '</del>';
        document.getElementById(user + '_poke_button').innerHTML = '';
        document.getElementById(user + '_kill_button').innerHTML = '';
    });

    socket.on('receive_msg', function (data) {
        document.getElementById("msg_head").innerHTML = data['msg'];
    });

    socket.on('update_vote', function (data) {
        remove_vote(data);

        var votes_div = document.getElementById(data['target'] + '_votes');
        var votes_entry = '<span id="' + data['voter'] + '_vote" class="Voter">' + data['voter'] + '<br/></span>';
        votes_div.insertAdjacentHTML('beforeend', votes_entry);
    });

    socket.on('remove_vote', function (data) {
        remove_vote(data)
    });

    socket.on('set_role', function (data) {
        var username = data['name'];
        document.getElementById(username + '_role').innerHTML = data['role'];
    })

    socket.on('set_name', function (data) {
        document.getElementById("username_head").innerHTML = data['name'];
    })

    socket.on('join_role_rooms', function (data) {
        socket.emit('join_role_rooms', data);
    });

    if (socket)
        socket.emit('get-session');
</script>

</html>