<!DOCTYPE html>
<html>

<head>
    <title>Werewolf by McToel</title>
    <link rel="stylesheet" type="text/css" href="static/styles/werewolf.css">
</head>

<body id='main_body'>
    <div class="table_container">
        <table class="tg">
            <tr>
                <th>Your name</th>
                <th>Your role</th>
                <th>Your last Message</th>
            </tr>
            <tr>
                <th id="username_head">gamemaster</th>
                <th id="role_head">gamemaster</th>
                <td id="msg_head">Hello World</td>
            </tr>
        </table>
        <div style="height: 20px;"></div>
        <table class="tg" id="main_table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Votes</th>
                    <th>Poke</th>
                    <th>Kill</th>
                    <th>Send Message</th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table><br/>
        <button style="width: 100%;" type="button" onclick="reset_votes();">Reset Votes</button><br />
        <form action="logout">
            <button style="width: 100%;" type="submit" value="logout">Logout</button>
        </form><br /><br/>
        <h1 style="width: 100%; text-align: center;">Game Settings</h1>
        <input style="width: 100%;" class="pretty_textbox" type="text" placeholder="Role" id="role_text_box"><br />
        <button style="width: 49%;" type="button" id="add" value="Add">Add</button>
        <button style="width: 49%;" type="button" id="remove" value="Remove">Remove</button>
        <br />
        <select id="selected_roles" size="4" multiple="multiple" style="height : 200px; width: 100%;"></select><br />
        <button style="width: 100%;" type="button" onclick="set_roles();">Set Roles</button><br />
    </div>
</body>

<!-- SocketIO -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- SocketIO -->

<script>
    $(function () {
        $('#add').click(function () {
            var inner_html = '<option value="' + $('#role_text_box').val() + '">' + $('#role_text_box').val() + '</option>'
            $("#selected_roles").append(inner_html);
        });
    });

    $('#remove').click(function () {
        $("#selected_roles option:selected").remove();
    });

    var base_url = location.protocol + "//" + location.hostname + ":5000/";

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    window.setInterval(function () {
        socket.emit('update_gamemaster')
    }, 1000);

    var socket = io();

    function set_roles() {
        var select = document.getElementById("selected_roles");
        var roles = [];
        for (var i = 0; i < select.options.length; i++) {
            roles.push(select.options[i].value);
        }
        socket.emit('set_roles', {
            "roles": roles
        })
    }

    function reset_votes() {
        socket.emit('reset_votes')
    }

    function kill() {
        socket.emit('kill', {
            "target_user": event.target.parentElement['target_user'].value
        })
    }

    function poke() {
        socket.emit('poke', {
            "target_user": event.target.parentElement['target_user'].value
        })
    }

    function send_msg() {
        socket.emit('send_msg', {
            "target_user": event.target.parentElement['target_user'].value,
            "msg": event.target.parentElement['msg'].value
        })
    }

    socket.on('flash', async function () {
        var element = document.getElementById('main_body');
        for (var i = 0; i < 3; i++) {
            element.style.backgroundColor = 'red';
            await sleep(100);
            element.style.backgroundColor = 'white';
            await sleep(100);
        }
    });

    socket.on('update_gamemaster_display', function (data) {
        document.getElementById('tbody').innerHTML = '';

        for (var key in data) {
            var row = '<tr id="table_row">';

            if (data[key]['alive']) {
                //Username
                row += '<th>' + data[key]['name'] + '</th>';
                //Role
                row += '<td>' + data[key]['role'] + '</td>';
                // Votes
                row += '<td><div style="width: max-content;">';
                for (var i = 0; i < data[key]['votes'].length; i++) {
                    row += '<span class="Voter">' + data[key]['votes'][i] + '</span><br/>';
                }
                row += '</div></td>';
                // poke button
                row += '<td><form class="pretty_form"><button type="button" onclick="poke();" name="target_user" value="' + data[key]['name'] + '">Poke</button></form></td>';
                // kill
                row += '<td><form class="pretty_form"><button type="button" onclick="kill();" name="target_user" value="' + data[key]['name'] + '">Kill</button></form></td>';
            }
            else {
                //Username
                row += '<td>' + data[key]['name'] + '</td>';
                //Role
                row += '<td>' + data[key]['role'] + '</td>';
                // Votes
                row += '<td></td>';
                // poke button
                row += '<td></td>';
                // kill
                row += '<td></td>';
            }

            // send message
            row += '<td><form class="pretty_form"><input class="pretty_textbox" type="text" placeholder="Message" name="msg"></input><button type="button" onclick="send_msg();" name="target_user" value="' + data[key]['name'] + '">Send</button></form></td>'
            row += '</tr>';

            $('#tbody').append(row);
        }
    });

    socket.on('update_head', function (data) {
        document.getElementById("username_head").innerHTML = data['name'];
        document.getElementById("role_head").innerHTML = data['role'];
        document.getElementById("msg_head").innerHTML = data['msg'];
    });

    if (socket)
        socket.emit('get-session');
</script>

</html>