<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>Werewolf by McToel</title>
    <link rel="stylesheet" type="text/css" href="static/styles/werewolf.css">
</head>

<body id='main_body' class="table_container">
    <div id='app'>
        <div class="grid_table" style="grid-template-columns: auto auto auto;">
            <div style="display: contents;">
                <div class="head"><div>Your name</div></div>
                <div class="head"><div>Your role</div></div>
                <div class="head"><div>Your last Message</div></div>
                <div class=""><div>[[ username ]]</div></div>
                <div class=""><div>[[ role ]]</div></div>
                <div class=""><div>[[ msg ]]</div></div>
            </div>
        </div>
        <div class="grid_table">
            <div style="display: contents;">
                <div class="col1 head"><div>Username</div></div>
                <div class="col2 head"><div>Role</div></div>
                <div class="col3 head"><div>Votes</div></div>
                <div class="col4 head"><div>Buttons</div></div>
                <div class="col5 head"><div>Send Message</div></div>
            </div>
            <div is="player_gamemaster" v-for='player in players' v-bind:name="player.name" v-bind:role="player.role"
                v-bind:alive="player.alive" v-bind:voters="player.voters"></div>
        </div>
        <br />
    </div>



    <button class="pretty_button" style="width: 100%;" type="button" onclick="reset_votes();">Reset Votes</button><br />
    <form action="logout">
        <button class="pretty_button" style="width: 100%;" type="submit" value="logout">Logout</button>
    </form><br /><br />


    <h1 style="width: 100%; text-align: center;">Game Settings</h1>
    <div id="role_setter">
        <input v-model="new_role" class="pretty_textbox" placeholder="Role" v-on:keyup.enter="add_role">
        <input style="width: 100%;" class="pretty_textbox" type="text" placeholder="Role" id="role_text_box"><br />
        <div style="display: flex;">
            <button class="pretty_button" v-on:click="add_add" id="add"
                value="Add">Add</button>
            <button class="pretty_button" v-on:click="remove" id="remove" value="Remove">Remove</button>
        </div>
        <br />
        <select id="selected_roles" size="4" multiple="multiple" style="height : 200px; width: 100%;">
            <option v-for='role in roles' :value="role"> [[ role ]] </option>
        </select><br />
        <button class="pretty_button" v-on:click="set_roles" style="width: 100%;" type="button">Set Roles</button><br />
    </div>
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->
    <script src="https://vuejs.org/js/vue.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    <script src="static/js/functions.js"></script>
</body>

</html>