<!DOCTYPE html>

<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<head>
    <title>Login to Werewolf</title>
    <link rel="stylesheet" type="text/css" href="static/styles/werewolf.css">
</head>

<body>

    <form style="width: max-content; margin: auto;" action="" method="post">
        <input style="width: 100%;" class="pretty_textbox" type=text name=username placeholder="Username"><br/>
        <button style="width: 100%;" type=submit value=Login>Login</button><br/>
    </form>
</body>

</html>