.tg {
    border-collapse: collapse;
    width: 100%;
}

.tg td {
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    vertical-align: middle;
    text-align: center;
}

.tg th {
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    vertical-align: middle;
}

.table_container {
    max-width: 60em;
    margin: auto;
}

.pretty_form {
    margin: 0.2em;
}

.pretty_textbox {
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.pretty_textbox:focus {
    border: 2px solid #555;
}

.button_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

button {
    background-color: lightgray;
    cursor: pointer;
    padding: 5px 5px;
    margin: 0 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

Button:hover {
    border: 2px solid #555;
}

Button:active {
    position: relative;
    top: 1px;
}

.voter {
    /* width: 100%; */
    padding: 3px;
    /* border-style: solid; */
    background-color: lightgray;
    /* border-color: gray; */
}

.username {
    max-width: 10em;
    word-wrap: break-word;
}

.msg {
    width: 10em;
    word-wrap: break-word;
}